* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100% !important;
    min-height: 100vh !important;
    max-width: none !important; /* Libera el ancho máximo por defecto de Vite */
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important; /* Evita que herede text-align: center global */
}