* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100% !important;
    min-height: 100vh !important;
    max-width: none !important; 
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important; 
}
